/* //general styles */
html {
  scroll-behavior: smooth;
}
body {
  max-height: 3090px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

:root {
  --gray: #60695d;
  --pink: rgb(247, 229, 210);
  --white: #ffffff;
  --black: #000000;
  --overlay-color: rgba(0, 0, 0, 0.267);
  --dark-green: #404d3c;
  --light-pink: #fbf2e8;
  --font-play: "Playfair Display", serif;
  --font-roboto: "Roboto", sans-serif;
}

/* //header */
body header {
  width: 100%;
  height: 90px;
  background-color: var(--pink);
  box-sizing: border-box;
  position: relative;
}
header nav.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

header nav.navbar ul.menu {
  display: flex;
  justify-content: space-around;
  list-style: none;
  align-content: center;
  text-align: center;
  height: 100%;
  width: 60%;
  margin: 0;
  font-family: var(--font-roboto);
  font-size: 14px;
  gap: clamp(0px, 5vw, 18px);
}
ul.menu li {
  display: flex;
  align-items: center;
  height: 100%;
}
ul.menu li a {
  text-decoration: none;
  color: var(--black);
  transition: 0.5s;
}
ul.menu li a:hover {
  color: var(--gray);
}
ul.menu li:nth-child(5) svg {
  width: 26px;
  height: 26px;
  fill: var(--gray);
}
ul.menu li:nth-child(5) a {
  font-size: 16px;
  font-weight: 300;
}
nav.navbar a.cafe-name,
ul.title {
  list-style: none;
  text-decoration: none;
  position: relative;
}
nav.navbar a.cafe-name {
  display: flex;
  height: 100%;
  font-family: var(--font-play);
  align-items: center;
  margin-left: 35px;
}
nav.navbar a.cafe-name li.li47 {
  font-size: 40px;
  color: var(--black);
  margin-bottom: 23px;
  margin-right: -6px;
}

nav.navbar a.cafe-name li.th {
  font-size: 17px;
  font-weight: 100;
  color: var(--black);
  position: absolute;
  left: 6px;
  top: 0px;
}
nav.navbar a.cafe-name ul.title {
  padding: 0;
  font-size: 40px;
  color: var(--gray);
  margin: 0;
}
nav.navbar input {
  display: none;
}
label.burger-menu span.burger-menu-icon svg {
  width: 30px;
  height: 30px;
}
nav.navbar span.burger-menu-icon {
  cursor: pointer;
  display: none;
}

/* //main */
/* section1 */
main.index {
  display: flex;
  flex-direction: column;
  width: 100%;
}
main.index section.first {
  width: 100%;
  height: 713px;
  background-image: url(https://static.wixstatic.com/media/c837a6_3072f98b6961440ca0c47ce752c6d052~mv2.jpg/v1/fill/w_1349,h_713,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/c837a6_3072f98b6961440ca0c47ce752c6d052~mv2.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding-left: 60px;
  box-sizing: border-box;
  position: relative;
  background-size: cover;
}
section.first::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-color);
}
main.index section.first div.background {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 18px;
  z-index: 110;
  position: relative;
}
main.index section.first span.cafe-rest {
  font-size: clamp(14px, 4vw, 20px);
  font-family: var(--font-roboto);
  color: var(--white);
  font-weight: 300;
}
main.index section.first p.spot {
  margin: 0;
  font-family: var(--font-play);
  font-size: clamp(35px, 5vw, 70px);
  color: white;
  font-weight: 600;
}
aside.buttons a:nth-child(1) {
  margin-right: clamp(5px, 3vw, 40px);
}
main.index a.order-online {
  text-decoration: none;
  color: var(--white);
  background-color: transparent;
  border: 1px solid white;
  display: inline-block;
  width: clamp(115px, 13vw, 160px);
  height: clamp(28px, 13vw, 50px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-roboto);
  font-size: clamp(13px, 4vw, 16px);
  transition: 0.5s;
}
main.index section.first aside.buttons a:hover {
  background-color: var(--gray);
}
main.index section.first aside.buttons {
  display: flex;
}

main.index div.info {
  width: 100%;
  height: 68px;
  background-color: var(--gray);
  font-family: var(--font-roboto);
  font-size: clamp(16px, 5vw, 20px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-weight: 300;
}

/* section2 */
section.second {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  flex-grow: 1;
}
section.second aside {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 590px;
}

section.second aside span {
  width: 100%;
  height: 100%;
}

section.second aside img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

section.second div.layout {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
section.second aside h3 {
  width: 100%;
  font-family: var(--font-play);
  font-size: clamp(40px, 4vw, 70px);
  margin: 0;
}
section.second aside p.ch-header {
  font-family: var(--font-roboto);
  font-size: clamp(17px, 2vw, 20px);
  margin: 0;
  margin-bottom: 25px;
  font-weight: 300;
}
section.second aside div.chapter-1 {
  font-family: var(--font-roboto);
  font-size: clamp(14px, 3vw, 16px);
  margin: 0;
  font-weight: 200;
  width: 401px;
  height: 81px;
  line-height: 25px;
}
section.second aside a.order-online {
  border: 1px solid var(--black);
  color: var(--black);
  font-weight: 200;
  margin-top: 22px;
}
section.second aside a.order-online:hover {
  background-color: var(--gray);
  color: var(--white);
  border: 1px solid var(--gray);
}
/* article-3 */
article.third article.informative {
  background-color: var(--light-pink);
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
article.third article.informative h2 {
  font-size: clamp(30px, 5vw, 60px);
  font-weight: 700;
  margin-top: 0;
  font-family: var(--font-play);
}
article.third article.informative span {
  font-family: var(--font-play);
  font-size: clamp(23px, 5vw, 27px);
  font-weight: 400;
}

article.third article.informative div {
  font-family: var(--font-roboto);
  font-size: clamp(15px, 5vw, 16px);
  font-weight: 300;
  line-height: 25px;
  margin-top: 30px;
}
article.informative aside.controller span.line {
  height: 145px;
  background-color: var(--black);
  width: 1px;
}
article.informative aside.controller {
  width: 100%;
  min-height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: clamp(35px, 5vw, 130px);
  text-align: center;
}
/* section3 */
section.third {
  flex-grow: 1;
}
section.third form.six-imgs {
  display: grid;
  grid-template-columns: 3fr 2fr;
  /* max-height: 359px; */
}
form.six-imgs aside.problem {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

section.third form.six-imgs span img {
  object-fit: cover;
  display: inline-block;
}
section.third form.six-imgs div {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

form.six-imgs div.two-spans span:nth-child(2) img {
  height: 100%;
  box-sizing: border-box;
  width: 100%;
}
