@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: "Hanken Grotesk", "serif";
}
.flex_class{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*General*/
section{
    background-color: #ECF2FF;
    height: 100vh;
}
section aside.white_background{
   width: 736px;
   height: 512px;
   display: flex;
   background-color: white;
   border-radius: 32px; 
}

/*on blue background*/
section aside.blue_background{
    width: 368px;
    height: 512px;
    border-radius: 32px; 
    background:linear-gradient(180deg, #7755FF 0%, #6943FF 0.01%, #2F2CE9 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #CAC9FF;
}
.same_for_headings{
    font-weight: 700;
    font-size: 24px;
    margin-top: 38px;
}
div.round{
    width: 200px;
    height: 200px;
    background-image: url(./assets/images/Oval.png);
    background-repeat: no-repeat;
    flex-direction: column;
    margin-top: 15px;
}
div.round div.main_number{
    color: white;
    font-weight: 800;
    font-size: 72px;
}
p.mood{
    color:white ;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 17px;
}
.blue_background article{
    width: 260px;
    height: 69px;
    font-weight: 400;
    font-size: 18px;
    line-height: 23.45px;
    text-align: center;

}

/*on white background*/
.white_background h3{
   color:  #303B59;
   margin-top: 10px;
}
div.main_on_white{
    display: flex;
 flex-direction: column;
 padding: 28px 40px 46px 40px;
}
div.little{
    display: flex;
    width: 288px;
    height: 56px;
    border-radius: 12px;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 16px;
}
div.little div{
    font-weight: 500;
    color: black;
}
div.red{
    background-image: url(./assets/images/Rectangle.png); 
color:#FF5555 ;
}
div.yellow{
    background-image: url(./assets/images/Rectangle\ \(1\).png); 
color:#FFB21E ;
}
div.green{
    background-image: url(./assets/images/Rectangle\ \(2\).png); 
color: #00BB8F;
}
div.blue{
    background-image: url(./assets/images/Rectangle\ \(3\).png); 
color: #1125D6;
margin-bottom: 41px;
}
div.little span{
    color: #303B59;
    opacity: 50%;
}
button{
    width: 288px;
height: 56px;
border-radius: 128px;
background-color: #303B59;
border: 1px solid #303B59;
color: white;
font-size: 16px;
font-weight: 700;
cursor: pointer;
}
button:active{
background-image: url(./assets/images/Rectangle\ \(4\).png);
}